.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.align-item{
    align-items: center;
}

/* Target the scrollbar globally */
::-webkit-scrollbar {
    /* Set width and height for better visibility */
    width:8px;
    height: 8px;
  }
  
  
  /* Style the scrollbar track (the background) */
  ::-webkit-scrollbar-track {
    /* Use a dark, transparent background */
    background: rgba(0, 0, 0, 0.2);
    
  }
  
  /* Style the scrollbar thumb (the draggable handle) */
  ::-webkit-scrollbar-thumb {
    min-height: 10px;
    /* Use a vibrant color with subtle gradients */
    background: linear-gradient(to top, #585454, #2b2222);
    border-radius: 10px; /* Add rounded edges */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
     /* Add depth */
    
    /* background-color: transparent;
    border-bottom: 60px solid green */
    
  }
  
  /* Hide scrollbar buttons for a cleaner look */
  ::-webkit-scrollbar-button {
    
    display: none;

  }
  